/* GLOBAL RESET */
*{ box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body {color: rgba(0,0,0,0.8);}
a {color: rgba(141, 185, 185, 1)}
a:hover {color:rgb(103, 148, 148); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

h1 {
    font-family: epicursive, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* SITE STRUCTURE */

header {
    background-color: rgba(141, 185, 185, 1);
    color:thistle;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(240, 238, 238);
    text-decoration: none;
    padding: 2em;
    text-shadow: 1px 1px 5px black;
}

header a:hover {
    color: white;
}

/* SITE ID */
.site-id h1 {
    margin: 0;
    padding: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav  a {
    display: block;
    padding: 1em;
}

.site-nav a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px dotted white;
    transition-duration: 0.2s;
}

/* MAIN */
main {
    background: whitesmoke;
}

section {
    padding: 3em 1em;
}

/* HERO SECTION */
.hero {
    background-color: rgba(141, 185, 185, 1) ;
    text-align: center;
    color: rgb(247, 152, 152);
    padding: 6em 1em;

}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    /* text-transform: uppercase; */
    margin: 0 auto;
    /* text-shadow: 1px 1px 2px black; */
    font-family: epicursive, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero p {
    max-width: 30em;
    color: rgba(141, 185, 185, 1);
    font-size: 1.5em;
    margin: 1em auto;
    padding: 1em 1em;
    /* border: 9px dotted white; */
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    color: slategray;
    text-align: center;
}


/* FOOTER */
footer {
    border-top: 1px solid lightsteelblue;
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
    padding: 2em 0;
  }
  
@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* SUB PAGES */
.page-sub .hero {
    background-color:rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

/* COURSE PAGES WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a{
    display: block;
    padding: 1em;
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: rgba(0, 0, 0, 0.1);
    color: white; 
}

/* COURSE WORK SECTION */
.coursework {
    padding: 3em, 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* CUSTOM STYLING FOR SPECIFIC PAGES */
.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.page-home .hero {
    background-image: url('../img/pinekitties.jpg');
/* background-image: url("../img/ART5-1.jpg"); */
/* background-position: bottom center; */
background-size: cover;
background-size: 140%;
background-position: center;
}

/* FOR DEV PURPOSES
body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */