/* GLOBAL RESET */
*{ box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body {color: rgba(0,0,0,0.8);}
a {color: rgb(255, 255, 255)}
a:hover {color:rgb(181, 255, 255); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: new-order, Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

h1 {
    font-family: epicursive, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* SITE STRUCTURE */

header {
    background-color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.page-home header a {
    color: white;
}

header a {
    color: rgb(68, 68, 68);
    text-decoration: none;
    padding: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: larger;
}

header a:hover {
    color: rgb(7, 161, 178);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
    padding: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.site-nav  a {
    display: block;
    padding: 1em;
}

.site-nav a:hover {
    text-shadow: #27e6df;
}

/* MAIN */
body {
    background-image: url(../img/brick2.jpg);
    background-position: top center;
    background-size: 100%;
}

main {
    background: transparent;
    
}

section {
    padding: 3em 1em;
}

/* HERO SECTION */
.hero {
    background-color: rgba(141, 185, 185, 0) ;
    text-align: center;
    color: rgb(245, 239, 239);
    padding: 6em 1em;

}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    /* text-transform: uppercase; */
    margin: 0 auto;
    /* text-shadow: 1px 1px 2px black; */
    font-family: epicursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 32px #27e6df, 0 0 35px #27e6df, 0 0 45px #27e6df, 0 0 55px #27e6df, 0 0 65px #27e6df;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 15px #daf0a1, 0 0 25px #daf0a1, 0 0 35px #daf0a1, 0 0 45px #daf0a1, 0 0 55px #daf0a1, 0 0 65px #daf0a1;
      }
}

.hero p {
    font-family: new-order, sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 30em;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin: 1em auto;
    padding: 1em 1em;
    /* border: 9px dotted white; */
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: dotted;
    font-family: new-order, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
}

.courses h3 {
    color: white;
    font-family: epicursive, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    animation: glow 3s ease-in-out infinite alternate;
}


/* FOOTER */
footer {
    border-top: 1px solid lightsteelblue;
    font-family: new-order, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background: transparent;
    animation: glow2 3s ease-out infinite alternate;
}

footer a {
    text-decoration: none;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
    padding: 2em 0;
    color: white;
  }
  
@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
        color: white;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
        color: white;
    }
}

/* SUB PAGES */
.page-sub .hero {
    color: rgba(255, 255, 255, 0.8);
}

/* COURSE PAGES WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: rgb(236, 173, 45);
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(236, 173, 45);
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a{
    display: block;
    padding: 1em;
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: transparent;
    color: white; 
}

/* COURSE WORK SECTION */
.coursework {
    padding: 3em, 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.coursework h3 {
    font-family: epicursive, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    animation: glow2 3s ease-out infinite alternate;
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #e1e1e1, 0 0 13px #e1e1e1, 0 0 16px #e1e1e1, 0 0 19px #e1e1e1, 0 0 21px #e1e1e1;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 8px #c1c1bfcc, 0 0 14px #c1c1bfcc, 0 0 18px #c1c1bfcc, 0 0 22px #c1c1bfcc, 0 0 26px #c1c1bfcc, 0 0 28px #c1c1bfcc;
      }
}

.project {
    margin: 2em;
}

.project ul {
    list-style-type: decimal;
}

/* CUSTOM STYLING FOR SPECIFIC PAGES */
.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: white;
}

.page-home .hero {
background-image: url('../img/pinekitties.gif');
/* background-size:auto; */
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

/* FOR DEV PURPOSES
body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */