 /* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 87.5%; 
    /* 14px = 1em */
    color: rgba(0,0,0,.8);
    line-height: 1.5;
    /* 14px x 1.5em = 21px */
 }

 /* HEADINGS
    Headings are based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16 */

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; 
    /* 48px: 48/16 = 3em */
    line-height: 1;
}

h2 {
    font-size: 2.25em; 
    /* 36px: 36/16 = 2.25em */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; 
    /* 24px: 24/16 = 1.5em */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em; 
    /* 21px: 21/16 = 1.3125em */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; 
    /* 18px: 18/16 = 1.125em */
    line-height: 1.4;
}

h6 {
    font-size: 1em; 
    /* 16px: 16/16 = 1em */
    line-height: 1.5;
}

/* CUSTOM TYPOGRAPHY */

.caption {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 1em 0 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    font-weight: normal;
    color: #777;
    display: inline-block;
}

/* PARAGRAPHS */

p {
    margin: .5em 0;
    max-width: 38em;
}

.centered p {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* #BLOCK QUOTES  */

blockquote {
    font-size: 1.14em;
    line-height: 1.3;
    margin: 1.5em 0;
    padding: 1.5em;
    max-width: 38em;
}
  
  blockquote cite {
    display: block;
    opacity: 0.8;
    font-size: .85em;
}
  
  blockquote cite:before {
    content: "—";
    font-size: .8em;
    margin-right: 0.25em;
}

/* LINKS */

a {
    color:rgb(122, 172, 172);
    text-decoration: none;
}

a:hover {
    color:rgb(122, 175, 175);
    text-decoration: underline;
    text-decoration-color: rgba(82, 83, 83, 0.8);
}

/* HELPER CLASSES */

.text-centered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button {
    font-size: inherit;
    line-height: 1;
    background-color: rgba(175, 215, 215, 1);
    border: 1px solid rgba(175, 215, 215, 1);
    color: rgba(255,255,255,1);
    padding: 1em;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    text-align: center;
    border-radius: 0.5em;
}

.button:hover,
button:hover {
    font-size: inherit;
    line-height: 1;
    background-color:  rgba(141, 185, 185, 1);
    border-color: rgba(141, 185, 185, 1);
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    border-color:rgba(175, 215, 215, 1);
    color:rgba(141, 185, 185, 1);
}

.button.alt:hover {
    background-color:  rgba(141, 185, 185, 1);
    border-color: rgba(141, 185, 185, 1);
    color: rgba(255,255,255,1);
    text-decoration: none;
}